body{
  margin: 0;
  padding: 0;
  background-image: url(images/bois.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bleu{
width: 500px;
height: 400px;
background-color: rgb(224, 203, 40, 0.0);
margin: 150px 0 0 450px;
padding-top: 5px;
}

.blanc{
  width: 95%;
  height: 115%;
  background-color: rgb(245, 245, 245, 0.5);
  margin: 0 0 0 -60px;
  box-shadow: 3px 10px 20px 5px rgb(4, 50, 28);
  
}
.inner {
  padding: 20px 50px;
  height: 350;
  width: 450px;
 
 }
 .form-row {
  margin-bottom: 16px; }
  .form-row.form-group {
    display: flex; }
    .form-row.form-group .form-holder {
      width: 50%;
      margin-right: 25px; }
      .form-row.form-group .form-holder:last-child {
        margin-right: 0; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 17px;
    color: #333; }
    .form-holder i.small {
      font-size: 13px;
      top: 50%;
      transform: translateY(-50%); }

      .form-control {
        height: 30px;
        border: none;
        border-bottom: 1px solid #333;
        width: 100%;
        background: none;
        font-weight: 600; }
        .form-control::-webkit-input-placeholder {
          color: #333; }
        .form-control::-moz-placeholder {
          color: #333; }
        .form-control:-ms-input-placeholder {
          color: #333; }
        .form-control:-moz-placeholder {
          color: #333; }
      
      .select {
        position: relative; }
        .select .select-control {
          height: 30px;
          border: none;
          border-bottom: 1px solid #333;
          width: 100%;
          font-weight: 600;
          cursor: pointer;
          display: flex;
          align-items: center; }
        .select .dropdown {
          display: none;
          position: absolute;
          top: 100%;
          width: 100%;
          background: #fff;
          z-index: 9;
          border: 1px solid #4192cb; }
          .select .dropdown li {
            padding: 5px 10px; }
            .select .dropdown li:hover {
              background: #81acee;
              color: #fff; }
          .select .dropdown.active {
            display: block; }
      
      .section-3 h6 {
        font-size: 13px;
        color: #333;
        padding-top: 5px;
        margin-bottom: 14px; }
      
      /* .payment-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .payment-block .payment-item {
          width: 47.76%; }
      
      .payment-item {
        border: 1px solid #e5e5e5;
        height: 53px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 11px;
        margin-bottom: 15px;
        cursor: pointer; }
        .payment-item .payment-logo {
          width: 34.53%; }
        .payment-item .payment-content {
          width: 65.47%; }
        .payment-item.active {
          border: 1px solid #333; }
      
      .actions ul {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 50px;
        right: 58px;
        left: 58px; }
      .actions li a {
        border: none;
        display: inline-flex;
        height: 51px;
        width: 118px;
        align-items: center;
        color: #fff;
        cursor: pointer;
        padding-left: 33px;
        font-size: 15px;
        position: relative;
        background: #333; }
        .actions li a:before {
          content: "\f2ee";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 32px; }
        .actions li a:hover {
          background: #4d4d4d; }
      .actions li:first-child a {
        background: none;
        border: 1px solid #333;
        padding-left: 50px;
        color: #333; }
        .actions li:first-child a:before {
          content: "\f2ea";
          right: 77px; }
        .actions li:first-child a:hover {
          background: #4d4d4d;
          border-color: transparent;
          color: #fff; }
      .actions li:last-child a {
        padding-left: 28px; }
        .actions li:last-child a:before {
          right: 27px; }
      .actions li[aria-disabled="true"] a {
        opacity: 0;
        transition: all 1s; }
      
      @media (max-width: 1500px) {
        .steps {
          bottom: -40px; }
      
        .wizard {
          margin-bottom: 25px; } }
      @media (max-width: 1199px) {
        .steps {
          bottom: -52px; }
      
        .wizard {
          margin-bottom: 0; } }
      @media (max-width: 767px) {
        body {
          background: none; }
      
        .wrapper {
          height: auto;
          display: block; }
      
        .wizard {
          width: auto;
          height: auto;
          margin-left: 0;
          margin-bottom: 100px; }
       */
        .inner {
          padding: 30px 20px;
          height: auto; }
      
        .actions ul {
          position: static;
          margin: 0 20px; }
      
        .payment-block {
          display: block; }
          .payment-block .payment-item {
            width: 100%; }
      
        .steps {
          bottom: -60px;
          left: 20px;
          right: 20px;
          width: auto;
          transform: translateX(0); } 
      .next{
        margin: 20px 0 0 110px;
        display: flex;
      } 
    .next input{
      color: whitesmoke;
      background-color: #04321c;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
      width: 150px;
      height: 40px;
    }
    .form-row .form-holder #dp1{
      border-radius: 5px;
    }
    #modif{
      font-size: medium;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: oblique;
      font-weight: 200px;
      color: red;
      margin-left: 40px;
    }